<h1>Passwords</h1>
<td><%= button_to "Make passwords for all users" , make_all_passwords_path, :class => "large_button make_button", :style => "width: 300px"%></td>

<table width="40%">
  <col width = "50%">
  <col width = "25%">
  <col width = "25%">

  <% User.all.order(:last_name, :first_name).each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.password %></td>
      <td><%= button_to "Make password" , make_password_path(user), :class => "small_button make_button" %></td>
    </tr>
  <% end %>
</table>
