<table width="40%">
  <col width = "50%">
  <col width = "25%">
  <col width = "25%">

  <% @passwords.each do |password| %>
    <tr>
      <td>
        <%= password[:name]%>
      </td>
      <td>
        <%= password[:password]%>
      </td>

    </tr>
  <% end %>
</table>

<%= button_to "Users", users_path, :method => :get, :class => "small_button" %>
